name: Do Release
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'The release version to publish'
        required: true
        default: ''

env:
  SCM_USERNAME: josepdcs

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Get tag from push
        if: github.event_name == 'push'
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Get tag
        if: github.event_name == 'workflow_dispatch'
        run: echo "tag=${{ github.event.inputs.VERSION }}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and Push JVM Agent Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'docker/jvm/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-jvm
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-jvm

      - name: Build and Push JVM Alpine Agent Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'docker/jvm/alpine/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-jvm-alpine
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-jvm-alpine

      - name: Build and Push BPF Agent Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'docker/bpf/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-bpf
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-bpf

      - name: Build and Push Python Agent Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'docker/python/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-python
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-python

      - name: Build and Push Ruby Agent Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'docker/ruby/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-ruby
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-ruby

      - name: Build and Push Perf Agent Image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: 'docker/perf/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-perf
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-perf

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      #- name: Update new version in krew-index
      #  uses: rajatjindal/krew-release-bot@v0.0.40

      - name: Set Git Tag
        if: github.event_name == 'workflow_dispatch'
        run: |
          git config user.name "$SCM_USERNAME"
          git tag ${{ env.tag }} -m "Release ${{ env.tag }}"
          git push origin ${{ env.tag }}
