name: Do Release
on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'The release version to publish'
        required: true
        default: ''

env:
  SCM_USERNAME: "Josep Damia Carbonell Segui"
  SCM_USEREMAIL: josepdcs@ext.inditex.com

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Read tag from pushed tag
        if: github.event_name == 'push'
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Read tag from version to publish
        if: github.event_name == 'workflow_dispatch'
        run: echo "tag=${{ github.event.inputs.VERSION }}" >> $GITHUB_ENV

      - name: Set Git Tag for workflow dispatched
        if: github.event_name == 'workflow_dispatch'
        run: |
          git config user.name "$SCM_USERNAME"
          git config user.email "$SCM_USEREMAIL"
          git tag ${{ env.tag }} -m "Release ${{ env.tag }}"
          git push origin ${{ env.tag }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and Push JVM Agent Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: 'docker/jvm/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-jvm
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-jvm

      - name: Build and Push JVM Alpine Agent Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: 'docker/jvm/alpine/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-jvm-alpine
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-jvm-alpine

      - name: Build and Push BPF Agent Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: 'docker/bpf/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-bpf
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-bpf

      - name: Build and Push Python Agent Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: 'docker/python/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-python
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-python

      - name: Build and Push Ruby Agent Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: 'docker/ruby/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-ruby
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-ruby

      - name: Build and Push Perf Agent Image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: 'docker/perf/Dockerfile'
          push: true
          tags: |
            josepdcs/kubectl-prof:${{ env.tag }}-perf
            ghcr.io/josepdcs/kubectl-prof:${{ env.tag }}-perf

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.2'

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

